$heading-font-weight: 600;
$subheading-font-weight:400;
$content-font-family:-apple-system, BlinkMacSystemFont, sans-serif;
$heading-font-family:"Archia", BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Helvetica", sans-serif;
$twitter:#1ea1f2;
$cream:Moccasin;
$green:aquamarine;
$mobile-breakpoint:614px;
$tablet-breakpoint:1029px;
