.blog-navigation
{
  padding: 20px;
  margin: 0 auto;
  max-width: 950px;
  display:grid;

  &__heading
  {
    display: block;
    width: auto;
    padding-bottom: 8px;
    border-bottom: 4px solid purple;
  }
}