.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30.33%;
  float: left;
  margin: 1%;

  img {
    margin-bottom:0px;
    border-bottom: 5px solid wheat;
  }

  &__container
  {
    padding: 5px 16px;
    text-align: center;
  }

  &__title
  {
    text-transform: uppercase;
    color: black; 
    margin:5px;
  }

  &__subtitle
  {
    font-size: 0.8rem;
    font-style: italic;
    color: grey;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  @include tablet
  {
    width: 48%;
  }

  @include mobile
  {
    width:100%;
  }
}
