.hand_waving {
  display: inline-block;
  animation-name: wave-hand;
  animation-duration: .4s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.hand_waving img {
  margin-bottom:0px !important;
}

@keyframes wave-hand {
  from {
    transform: rotate(0deg)
  } to {
    transform: rotate(50deg)
  }
}