.hero
{
  height:100vh;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &__overlay 
  {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    opacity: 0.9;
    z-index: 5;

    @include mobile 
    {
      background-color: papayawhip;
    }
  }

  &__content
  {
    position: relative;
    z-index: 10;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;

    @include tablet {
      flex-direction: column-reverse;
      text-align: center;
      justify-content: center;
    }

    @include mobile {
      height: auto;
      padding-top:40px;
      padding-bottom: 40px; 
    }

  }

  &__introduction
  {
    padding-right: 100px;

    @include tablet {
      padding: 0;
    }
  }

  &__intro-heading
  {
    font-family: $heading-font-family;
    text-transform: capitalize;
    color:white;
    margin:0;
    font-size: 2rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    animation-name: main-heading;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &__intro-subheading
  {
    color:$cream;
		letter-spacing: 4px;
		margin-top:10px;
		font-weight:400;
		font-size:1.0rem;
    text-transform: uppercase;
    animation-name: sub-heading;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &__intro-subheading::after
	{
		content:"";
		display:block;
		width:1px;
		height:3px;
		margin-top:20px;
		background-color: aquamarine;
    border-radius:100px;
    animation-name: subheading-line;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
		@include tablet {
			margin-left: auto;
			margin-right:auto;
		}
	}

  &__intro-paragraph
  {
    padding: 25px 0;
    color: white;
    font-weight: 200;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 1.3rem;
    max-width: 600px;
    font-family: $content-font-family;
    animation-name: intro-paragraph;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    @include tablet {
      font-weight: 400;
    }

  }

  &__display-image-container
  {
    text-align: center;
  }

  &__display-picture
  {
    border-radius: 50%;
    width: 250px;
    opacity: 0;
    box-shadow: 0px 30px 60px 0px  rgba(0, 0, 0, 0.4);
    animation-name: display-picture;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    @include tablet {
      width:150px;
    }
  }

  @include mobile {
    background-image: none;
    height: auto;
  }
}

@keyframes subheading-line {
  from {
    width:1px;
  } to {
    width:100px;
  }
}

@keyframes display-picture {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes main-heading {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes sub-heading {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes intro-paragraph {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}