.navbar
{
  min-width: 280px;
  position: fixed;
  box-sizing: border-box;
  text-transform: uppercase;
  position: fixed;
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 5px;
  -webkit-box-shadow: 9px 0px 3px -9px rgba(0,0,0,0.46);
  -moz-box-shadow: 9px 0px 3px -9px rgba(0,0,0,0.46);
  box-shadow: 9px 0px 3px -9px rgba(0,0,0,0.46);
  border-top:5px solid $green;
  // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-color: #ffffff;
  background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white;

  &__brandlogo
  {
    margin:0;
  }

  &__name, &__surname
  {
    font-size: 1.2rem;
    margin:0;
    font-weight: 600;
  }

  &__links
  {
    list-style: none;
    margin:0;
    padding:40px 0;
    font-weight: 700;
    font-size: 0.9rem;
    
    
    li {
      padding: 5px;
      
      a{
        border-bottom: 2px solid $green;
        text-decoration: none;
        color: rgba(0,0,0,0.6);
        display: inline-block;
        position: relative;
        transition: all .2s ease-in;
      }

      a:hover {
        border-bottom: 2px solid purple;     
        color:black;   
      }

      a:hover::after {
        position: absolute;
        content:"👉";
        font-size: 24px;
        color:green;
        left:-38px;
        top:0;
        display: block;
      }
    }
  }

  @include mobile {
    display: none;
  }
}