.tags
{
  &__tag
  {
    display: inline-block;
    background:rgb(244,245,244);
    padding-left:2px; 
    padding-right:5px; 
    border-radius:5px;
    margin-left:5px;
    margin-top: 2px;
    color:#4a4a4a;
    font-size: 0.8rem;
  }
}