.tags
{
  &__tag
  {
    display: inline-block;
    background: grey;
    padding-left:2px; 
    padding-right:5px; 
    border-radius:5px;
    margin-left:5px;
    margin-top: 2px;
    color:orange;
  }
}