.work
{
  &__logo
  {
    display: block;
    width:75px;
    height: 75px;
  }

  &__header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__company
  {
    padding-left: 20px;
  }


}