.wrapper
{
  padding-left: 20px;
  padding-right: 20px;
}

.float-wrapper
{
  float:right;
  padding-left: 20px;
}

.line-height
{
 
}

.project-wrapper
{
  padding: 20px;
  text-align: center;
}

.button-wrapper
{
  padding:20px;
}