.wrapper
{
  padding-left: 80px;
  padding-right: 80px;

  @include mobile {  
    padding-left: 15px;
    padding-right: 15px;
  }

  @include tablet
  {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.float-wrapper
{
  float:right;
  padding-left: 20px;
}

.project-wrapper
{
  padding: 20px;
  text-align: center;
}

.button-wrapper
{
  padding:20px;
}